<h2 class="highlight">{{year}}</h2>
<p>“BAU” cost <span class="num">${{bau}}</span></p>
<p>Energy Shift cost  <span class="num">${{lc_amb}}</span></p> 

<p class="bottom-row">Estimated savings <span class="num highlight">${{difference}}<span></p>

{{!-- <div class="grid">
	<p>Est. BAU cost:</p> 
	<p class="num">${{bau}}</p>
	<p>Energy Shift: </p>
	<p class="num">${{lc_amb}}</p> 

	<p>Estimated savings: </p>
	<p class="num highlight">${{difference}}</p>
</div> --}}