<div class="card {{group}}">
{{!-- 	<div class="media float-left">
		<picture>
			<img srcset="img/{{imageName}}-web.jpg" alt="image">
		</picture>
	</div> --}}

	<div class="text">
		<h4>{{group}}</h4>
		<h2>{{title}}</h2>
		<p>{{text}} <span class="learn-more">
			{{!-- <a href="{{url}}">Learn More</a> --}}
		</span></p> 
	</div>

	<div class="clearfix"></div>
</div>