<div class="card {{group}}">
	<div class="text">
		<h4>{{group}}</h4>
		<h2>{{title}}</h2>
		<p>{{text}} <span class="learn-more">
			{{#if url}}
				<a href="{{url}}">Learn More</a>
			{{/if}}
		</span></p> 
	</div>

	<div class="clearfix"></div>
</div>