{{#if alt}}
	<p>An estimated net <span class="highlight">${{ttValue}}</span> in reduced vehicle and transportation costs in <span class="highlight">{{date}}</span>.</p>
{{ else }}
	<p>An estimated <span class="highlight">${{ttValue}}</span> invested in {{strategy}} in <span class="highlight">{{date}}</span>.</p>
{{/if}} 
